@model Covid_19_GalileiGalileo.Models.CovidData

@{
    ViewData["Title"] = "Home Page";

}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="style.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

    <div class="row">
        <p class="arancio">Statistiche mondiali:</p>
        <p class="arancio update">Ultimo aggiornamento: @Model.Time</p>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <label>Attualmente positivi</label>
                <label>@Model.Cases.Active</label>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <label>Guariti</label>
                <label>@Model.Cases.Recovered</label>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <label>Deceduti</label>
                <label>@Model.Deaths.Total</label>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <label>Totale positivi</label>
                <label>@Model.Cases.Total</label>
            </div>
        </div>
    </div>



        <div id="vmap" style="width: 1000px; height: 800px; margin:auto"></div>




    <div class="row">

        <div class="column ChartBox grafico">
            <div><canvas id="lineChart1" width="400" height="200"></canvas></div>
        </div>

        <div class="column ChartBox grafico">
            <div><canvas id="lineChart2" width="400" height="200"></canvas></div>
        </div>

    </div>



    <div class="list-group-">



        <div class="ChartBox world" style="height:800px" id="SelectCounty">
            <div class="row">
                <div class="column">
                    <div class="card">
                        <label>Attualmente positivi</label>
                        <label>73.880</label>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <label>Guariti</label>
                        <label>13.030</label>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <label>Deceduti</label>
                        <label>10.779</label>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <label>Totale positivi</label>
                        <label>97.689</label>
                    </div>
                </div>
            </div>

            <div style="text-align:center; width:1000px; height:500px">
                <img src="~/Resource/jvectormaps.png" width="1000" style="margin-top: 50px" />
            </div>
        </div>


        <div class="row">

            <div class="column ChartBox grafico">
                <div><canvas id="lineChart3" width="400" height="200"></canvas></div>
            </div>

            <div class="column ChartBox grafico">
                <div><canvas id="lineChart4" width="400" height="200"></canvas></div>
            </div>

        </div>



    </div>




    @section Scripts
        {
        <script>
                @Html.Raw(ViewBag.chartTotalCases.CreateChartCode("lineChart1"));
                @Html.Raw(ViewBag.chartNewCases.CreateChartCode("lineChart2"));
                @Html.Raw(ViewBag.chartTotalCases.CreateChartCode("lineChart3"));
                @Html.Raw(ViewBag.chartNewCases.CreateChartCode("lineChart4"));
        </script>

        <script>
            @{ Dictionary<string, string> pairs = new Dictionary<string, string>()
                {


                    {"cn","China"},
                    {"it","Italy"},
                    {"es","Spain"},
                    {"us","USA"},
                    {"de","Germany"},
                    {"ir","Iran"},
                    {"fr","France"},
                    {"kr","S-Korea"},
                    {"ch","Switzerland"},
                    {"gb","UK"},
                    {"nl","Netherlands"},
                    {"at","Austria"},
                    {"be","Belgium"},
                    {"no","Norway"},
                    {"se","Sweden"},
                    {"ca","Canada"},
                    {"dk","Denmark"},
                    {"pt","Portugal"},
                    {"my","Malaysia"},
                    {"br ","Brazil"},
                    {"au","Australia"},
                    {"jp","Japan"},
                    {"cz","Czechia"},
                    {"tr","Turkey"},
                    {"il","Israel"},
                    {"ie","Ireland"},
                    {"pk","Pakistan"},
                    {"cl","Chile"},
                    {"pl","Poland"},
                    {"ec","Ecuador"},
                    {"gr","Greece"},
                    {"fi","Finland"},
                    {"qa","Qatar"},
                    {"is","Iceland"},
                    {"id","Indonesia"},
                    {"th","Thailand"},
                    {"sa","Saudi-Arabia"},
                    {"si","Slovenia"},
                    {"ro","Romania"},
                    {"in","India"},
                    {"pe","Peru"},
                    {"ph","Philippines"},
                    {"cn","Russia"},
                    {"ee","Estonia"},
                    {"eg","Egypt"},
                    {"za","South-Africa"},
                    {"lb","Lebanon"},
                    {"iq","Iraq"},
                    {"hr","Croatia"},
                    {"mx","Mexico"},
                    {"pa","Panama"},
                    {"co","Colombia"},
                    {"sk","Slovakia"},
                    {"kw","Kuwait"},
                    {"rs","Serbia"},
                    {"bg","Bulgaria"},
                    {"am","Armenia"},
                    {"ar","Argentina"},
                    {"tw","Taiwan"},
                    {"ae","UAE"},
                    {"dz","Algeria"},
                    {"lv","Latvia"},
                    {"cr","Costa-Rica"},
                    {"do","Dominican-Republic"},
                    {"uy","Uruguay"},
                    {"hu","Hungary"},
                    {"jo","Jordan"},
                    {"lt","Lithuania"},
                    {"ma","Morocco"},
                    {"vn","Vietnam"},
                    {"ba","Bosnia-and-Herzegovina"},
                    {"mk","North-Macedonia"},
                    {"cy","Cyprus"},
                    {"bn","Brunei"},
                    {"md","Moldova"},
                    {"lk","Sri-Lanka"},
                    {"al","Albania"},
                    {"by","Belarus"},
                    {"mt","Malta"},
                    {"ve","Venezuela"},
                    {"bf","Burkina-Faso"},
                    {"tn","Tunisia"},
                    {"sn","Senegal"},
                    {"kz","Kazakhstan"},
                    {"az","Azerbaijan"},
                    {"kh","Cambodia"},

                    //{"","Palestine"},
                    {"nz","New-Zealand"},
                    {"om","Oman"},
                    {"ge","Georgia"},
                    {"tt","Trinidad-and-Tobago"},
                    {"ua","Ukraine"},
                    //{"","R&eacute;union"},
                    {"uz","Uzbekistan"},
                    {"cm","Cameroon"},


                    //{"","Martinique"},
                    //{"","Liechtenstein"},
                    //{"","Channel-Channel"},
                    {"bd","Bangladesh"},
                    {"af","Afghanistan"},
                    {"hn","Honduras"},
                    {"","DRC"},
                    {"ng","Nigeria"},
                    {"cu","Cuba"},
                    {"gh","Ghana"},
                    {"","Puerto-Rico"},
                    {"jm","Jamaica"},
                    {"bo","Bolivia"},
                    {"gy","Guyana"},
                    {"py","Paraguay"},
                    //{"","Macao"},
                    //{"","Monaco"},
                    {"gf","French-Guiana"},
                    {"gt","Guatemala"},
                    {"rw","Rwanda"},
                    //{"","Montenegro"},
                    {"tg","Togo"},
                    {"pf","French-Polynesia"},
                    //{"","Guam"},
                    {"mu","Mauritius"},
                    {"bb","Barbados"},
                    //{"","Ivory-Coast"},
                    //{"","Kyrgyzstan"},
                    {"mv","Maldives"},
                    //{"","Mayotte"},
                    //{"","Gibraltar"},
                    {"mn","Mongolia"},
                    {"et","Ethiopia"},
                    {"ke","Kenya"},
                    {"sc","Seychelles"},
                    {"gq","Equatorial-Guinea"},
                    {"tz","Tanzania"},
                    //{"","US-Virgin-Islands"},
                    {"ga","Gabon"},
                    //{"","Aruba"},
                    //{"","Saint-Martin"},
                    {"sr","Suriname"},
                    {"bs","Bahamas"},
                    {"nc","New-Caledonia"},
                    //{"","Cayman-Islands"},
                    //{"","Cura&ccedil;ao"},
                    {"cv","Cabo-Verde"},
                    //{"","CAR"},
                    {"cg","Congo"}, //--------------
                    {"sv","El-Salvador"},
                    {"lr","Liberia"},
                    {"mg","Madagascar"},
                    {"na","Namibia"},
                    {"","St-Barth"},
                    {"zw","Zimbabwe"},
                    {"sd","Sudan"},
                    {"ao","Angola"},
                    {"bj","Benin"},
                    {"","Bermuda"},
                    //{"","Bhutan"},
                    {"fj","Fiji"},
                    {"gl","Greenland"},
                    {"gn","Guinea"},
                    {"ht","Haiti"},
                    //{"","Isle-of-Man"},
                    {"mr","Mauritania"},
                    {"ni","Nicaragua"},
                    {"lc","Saint-Lucia"},
                    {"zm","Zambia"},
                    {"np","Nepal"},
                    {"ag","Antigua-and-Barbuda"},
                    {"td","Chad"},
                    {"dj","Djibouti"},
                    {"er","Eritrea"},
                    {"gm","Gambia"},
                    //{"","Vatican-City"},
                    //{"","Montserrat"},
                    {"ne","Niger"},
                    {"pg","Papua-New-Guinea"},
                    //{"","St-Vincent-Grenadines"},
                    //{"","Sint-Maarten"},
                    {"so","Somalia"},
                    //{"","Eswatini"},
                    {"tl","Timor-Leste"},
                    {"ug","Uganda"},
                    //{"","All"},
                    {"mz","Mozambique"},
                    {"sy","Syria"},
                    {"gd","Grenada"},
                    {"dm","Dominica"},
                    //{"","Turks-and-Caicos"},
                    {"bz","Belize"},
                    {"mm","Myanmar"},
                    //{"","Laos"},
                    {"ly","Libya"},
                    {"ml","Mali"},
                    {"gw","Guinea-Bissau"},
                    //{"","British-Virgin-Islands"},
                    {"kn","Saint-Kitts-and-Nevis"},
                    //{"","Anguilla"},
                    //{"","MS-Zaandam-"},
                    //{"","MS-Zaandam"},
                    {"bw","Botswana"},
                    {"sl","Sierra-Leone"},
                    {"bi","Burundi"},
                    //{"","Caribbean-Netherlands"},
                    {"mw","Malawi"},
                    {"fk","Falkland-Islands"},
                    //{"","Western-Sahara"},
                    {"sd","South-Sudan"},
                    //{"","Saint-Pierre-Miquelon"},
                    {"st","Sao-Tome-and-Principe"},
                    //{"","North-America"},
                    //{"","Europe"},
                    //{"","Asia"},
                    //{"","South-America"},
                    //{"","Oceania"},
                    //{"","Africa"},
                    //{"","Diamond-Princess"},
                    {"ye","Yemen"}


               };
                }




                var sample_data = {
                "af": "16.63", "al": "11.58", "dz": "158.97", "ao": "85.81",
                "ag": "1.1", "ar": "351.02", "am": "8.83", "au": "1219.72",
                "at": "366.26", "az": "52.17", "bs": "7.54", "bh": "21.73",
                "bd": "105.4", "bb": "3.96", "by": "52.89", "be": "461.33",
                "bz": "1.43", "bj": "6.49", "bt": "1.4", "bo": "19.18",
                "ba": "16.2", "bw": "12.5", "br": "2023.53",
                "bn": "11.96", "bg": "44.84", "bf": "8.67",
                "bi": "1.47", "kh": "11.36", "cm": "21.88",
                "ca": "1563.66", "cv": "1.57", "cf": "2.11",
                "td": "7.59", "cl": "199.18", "cn": "5745.13",
                "co": "283.11", "km": "0.56", "cd": "12.6",
                "cg": "11.88", "cr": "35.02", "ci": "22.38",
                "hr": "59.92", "cy": "22.75", "cz": "195.23",
                "dk": "304.56", "dj": "1.14", "dm": "0.38",
                "do": "50.87", "ec": "61.49", "eg": "216.83",
                "sv": "21.8", "gq": "14.55", "er": "2.25",
                "ee": "19.22", "et": "30.94", "fj": "3.15",
                "fi": "231.98", "fr": "2555.44", "ga": "12.56",
                "gm": "1.04", "ge": "11.23", "de": "3305.9",
                "gh": "18.06", "gr": "305.01", "gd": "0.65",
                "gt": "40.77", "gn": "4.34", "gw": "0.83",
                "gy": "2.2", "ht": "6.5", "hn": "15.34",
                "hk": "226.49", "hu": "132.28", "is": "12.77",
                "in": "1430.02", "id": "695.06", "ir": "337.9",
                "iq": "84.14", "ie": "204.14", "il": "201.25",
                "it": "2006", "jm": "13.74", "jp": "5390.9",
                "jo": "27.13", "kz": "129.76", "ke": "32.42",
                "ki": "0.15", "kr": "986.26", "undefined": "5.73",
                "kw": "117.32", "kg": "4.44", "la": "6.34",
                "lv": "23.39", "lb": "39.15", "ls": "1.8",
                "lr": "0.98", "ly": "77.91", "lt": "35.73",
                "lu": "52.43", "mk": "9.58", "mg": "8.33",
                "mw": "5.04", "my": "218.95", "mv": "1.43",
                "ml": "9.08", "mt": "7.8", "mr": "3.49",
                "mu": "9.43", "mx": "1004.04", "md": "5.36",
                "mn": "5.81", "me": "3.88", "ma": "91.7",
                "mz": "10.21", "mm": "35.65", "na": "11.45",
                "np": "15.11", "nl": "770.31", "nz": "138",
                "ni": "6.38", "ne": "5.6", "ng": "206.66",
                "no": "413.51", "om": "53.78", "pk": "174.79",
                "pa": "27.2", "pg": "8.81", "py": "17.17",
                "pe": "153.55", "ph": "189.06", "pl": "438.88",
                "pt": "223.7", "qa": "126.52", "ro": "158.39",
                "ru": "1476.91", "rw": "5.69", "ws": "0.55",
                "st": "0.19", "sa": "434.44", "sn": "12.66",
                "rs": "38.92", "sc": "0.92", "sl": "1.9",
                "sg": "217.38", "sk": "86.26", "si": "46.44",
                "sb": "0.67", "za": "354.41", "es": "1374.78",
                "lk": "48.24", "kn": "0.56", "lc": "1",
                "vc": "0.58", "sd": "65.93", "sr": "3.3",
                "sz": "3.17", "se": "444.59", "ch": "522.44",
                "sy": "59.63", "tw": "426.98", "tj": "5.58",
                "tz": "22.43", "th": "312.61", "tl": "0.62",
                "tg": "3.07", "to": "0.3", "tt": "21.2",
                "tn": "43.86", "tr": "729.05", "tm": "0",
                "ug": "17.12", "ua": "136.56", "ae": "239.65",
                "gb": "2258.57", "us": "14624.18", "uy": "40.71",
                "uz": "37.72", "vu": "0.72", "ve": "285.21",
                "vn": "101.99", "ye": "30.02", "zm": "15.69", "zw": "5.57"
            };



                jQuery(document).ready(function () {
                    jQuery('#vmap').vectorMap({
                    map: 'world_en',
          backgroundColor: 'rgb(0,0,0,0)',
          color: '#ffffff',
          hoverOpacity: 0.7,
          selectedColor: '#666666',
          enableZoom: true,
          showTooltip: true,
          scaleColors: ['#C8EEFF', '#910000'],
          values: sample_data,
          normalizeFunction: 'polynomial'
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                });
                });
        </script>

    }
</body>